@media only screen and (max-width: 767px) {
  .banner-border {
    display: none;
  }
  .logo {
    padding: 10px 0 5px 20px;
  }
  header#home h4 {
    font-size: 1.375em;
  }
  .email{
    display: none;
  }
  .carousel-caption{
    top: 15%;
    right: 0;
    width: 60%;
    p{
      font-size: 0.875em;
      padding: 3% 0 5%;
      line-height: 1.25em;
    }

    h2{
      line-height: 0.875em;
      font-size: 2.5em;
    }
  }
  .mainmenu {
    margin: 10px 0 0;
    padding: 16px 10px 8px 10px;
    border: none;
    p{
      display: none;
    }
  }
}