@media screen and (min-device-width: 767px) and (max-device-width: 992px) {
  .carousel-caption {
    width: 40%;
  }
  .hp-points .feature-box h4 {
    font-size: 1.75em;
  }
}

@media only screen and (max-width: 767px) {
  .banner-border {
    display: none;
  }
  .logo {
    padding: 5px 0 5px 10px;
  }
  header#home h4 {
    font-size: 1.25em;
    padding: 25px 0 0;
  }
  .email{
    display: none;
  }
  .carousel-caption{
    top: 15%;
    right: 0;
    width: 60%;
    p{
      font-size: 0.875em;
      padding: 3% 0 5%;
      line-height: 1.25em;
    }

    h2{
      line-height: 0.875em;
      font-size: 2.5em;
    }
  }
  .mainmenu {
    margin: 0;
    padding: 16px 6px 12px;
    border: none;
    p{
      display: none;
    }
  }
  .hp-points .feature-box {
    padding: 40px 15px 10px;
  }
  .gallery-tab{
    display: none;
  }
  .mobile-pad{
    margin: 30px 0;
  }
  .mobile-toppad{
    margin: 30px 0 0;
  }
  .bot-cont {
    padding: 50px 0;
  }
  .reach h4 {
    font-size: 1.5em;
  }
  .menu .nav {
    width: 46%;
  }
  .txt-heading{
    font-size: 2.25em;
  }
  .padbot40 {
    padding: 0 0 30px;
  }
  .slick-slider .slick-dots {
    bottom: -35px;
  }
  .hp-points .feature-box {
    padding: 20px 15px 10px;
  }
  .footer-top .foot-text {
    padding: 16px 0 20px 25px;
  }
  .footer-top {
    padding: 50px 0 0;
  }
  #inner h2 {
    font-size: 3.125em;
    padding: 60px 0 0;
  }
  .destination-box {
    margin: 0 0 30px;
    p{
      display: none;
    }
  }
  .destination-flow{
    display: none;
  }
  .accordion-cont .ui-accordion .ui-accordion-content .rightpad {
    padding-right: 0em;
  }
  .accordion-cont{
    margin-left: 10px;
    margin-right: 10px;
  }
  .accordion-cont .ui-state-default {
    font-size: 1.5em;
  }
  .accordion-cont .accordion.univ h3.title-acc.ui-state-default {
    padding: 0.75em 0.5em 0.5em 0.7em;
  }
  .accordion-cont .ui-accordion .ui-accordion-content {
    padding: 1em 0.5em;
  }
  ul.com-list li {
    width: 90%;
  }
  .contact-map {
    margin: 0 auto;
    width: 90%;
  }
  .accordion-cont .accordion.univ .ui-state-default small{
    display: none;
  }
  .accordion-cont .accordion.univ .ui-state-default b{
    background: none;
    padding: 0.875em 0.5em 0.5em 0.7em;
  }
  .univ-box{
    margin: 0 0 30px;
  }
  .univ-box .univ-logo {
    height: 40px;
  }
  .search-bar a {
    margin: 0 auto 15px;
    width: 100%;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body{
    font-size: 14px;
  }
  .carousel-caption{
    top: 15%;
    right: 0;
    width: 70%;
    p{
      display: none;
    }
    h2{
      margin: 0 0 40px;
    }
    .btn{
      margin-top: 10px;
    }
  }
  .carousel-control.left {
    left: 26%;
  }
  .carousel-control.right {
    right: 26%;
  }
  .numslide{
    width: 70px;
    position: absolute;
    left: 50%;
    margin-left:-35px;
  }
  .select-style, .partner {
    margin: 0 0 15px;
  }

}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .menu .menu-inner{
    width: 100%;
  }
  .menu .nav {
    padding: 40px 10px 20px 0;
  }
  .menu .nav-country {
    padding: 40px 0 20px 10px;
  }
}