$yellow: #ffc000;
$pink: #e44053;
$txtColor: #515151;
$white:#fff;

@import "font";

img {
  max-width: 100%;
  height: auto;
}
body{
  padding: 0;
  margin: 0;
  font-size: 16px;
}
#wrapper {
  position: relative;
  height: 100px;
}
.logo {
  padding: 14px 0 0;
}
header#home{
  position: absolute;
  width: 100%;
  z-index: 10;
  color: $white;
  font-family: 'robotoregular';
  font-size: 0.875em;
  h4{
    font-family: 'robotomedium';
    font-size: 1.785em;
    margin: 0;
    padding: 30px 0 0;
  }
}
.mainmenu {
  border-left: 1px solid $white;
  margin: 30px 0 0;
  font-family: 'robotoregular';
  text-transform: uppercase;
  padding: 10px 10px 8px 20px;
  p {
    width: 70px;
    float: left;
    font-size: 0.875em;
  }
}
section#banner{
  padding: 50px;
  width: 100vw;
  height: 100vh;
  background: $yellow;
}
.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: red;
  display: none;
  z-index: 11;
}
/*hamburger*/
#hamburger {
  width: 46px;
  height: 28px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 12;
  float: left;
}
#hamburger span {
  background-color: #fff;
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#hamburger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
#hamburger span:nth-child(2) {
  top: 12px;
  transform-origin: left center;
}
#hamburger span:nth-child(3) {
  top: 24px;
  transform-origin: left center;
}
#hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
#hamburger.open span:nth-child(2) {
  top: 30px;
  position: relative;
  opacity: 0;
}
#hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 30px;
  left: 8px;
}
